.DS_Store

assets/kcfinder/upload/.thumbs/files/*
!assets/kcfinder/upload/.thumbs/files/.gitignore
assets/ckfinder/core/connector/php/assets/ckfinder/userfiles/*
assets/ckfinder/userfiles/*
assets/ckfinder/config.php


assets/kcfinder/upload/files/*
assets/captcha/*
!assets/kcfinder/upload/files/.gitignore
upload/berita_image/*
upload/berita_pdf/*
upload/menu_pdf/*
upload/bank_data/*
upload/galeri/*
application/config/database.php
application/config/config.php

application/cache/*
!application/cache/index.html
assets/admin/captcha*

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock
tests/mocks/database/ci_test.sqlite

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
